@import "tailwindcss";

:root {
  --tw-border-opacity: 1;
  --tw-border-color: rgb(243 244 246 / var(--tw-border-opacity)); /* Tailwind gray-100 */
}
*,
*::before,
*::after {
  border-color: rgb(209 213 219 / var(--tw-border-opacity)) !important;
}


